$fa-font-path: '../font-awesome-4.7.0/fonts';
@import '../font-awesome-4.7.0/scss/font-awesome';
$main-subcolor: #e5e5e5;
$main-green: #00e7b4;
$main-grey: #8d8d8d;
$middle-grey: #6d6d6d;

body {
  font-family: 'Roboto', sans-serif !important;
}


.main_banner {
  width: 100%;
  height: 95vh;
  display: block;
  .banner_img {
    width: 100%;
    height: 100%;
    max-height: 95vh;
    background-image: url('../img/first-slide.jpg');
    background-size: cover;
    background-position: center center;
  }
}

.title {
  display: inline-block;
  font-size: 54px;
  line-height: 45px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #000000;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    font-size: 34px;
    line-height: 30px;
  }
  .main_title {
    @extend .title;
    margin-bottom: 0;
  }
  .slash-icon {
    @extend .title;
    margin-bottom: 0;
    color: $main-green;
    font-weight: 500;
  }
  .subtitle {
    @extend .title;
    margin-bottom: 0;
    color: $main-subcolor;
  }
}

hr {
  clear: both;
  height: 1px;
  color: #ebebeb;
  margin-bottom: 0;
}

.clear {
  margin: 0;
  padding: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
}

.aboutus_box {
  margin-top: 90px;
  font: inherit;
  .content {
    dl {
      font: inherit;
      list-style: none;
      dt {
        font: inherit;
        margin-top: 20px;
        color: black;
        font-weight: normal;
        line-height: 27px;
        &:before {
          content: '/';
          color: $main-green;
          margin-right: 6px;
        }
      }
      dd {
        @extend dt;
        &:before {
          display: none;
        }
        margin-left: 13px;
        color: $main-grey;
        font-size: 15px;
        font-weight: 300;

      }
    }
  }
  .img_box {
    position: relative;
    width: 100%;
    margin-left: 30px;
    overflow: hidden;
    @media screen and (max-width: 991px) {
      margin-left: 0;
    }
    img {
      width: 100%;
      overflow: hidden;
    }
    .ipad {
      position: relative;
      z-index: 100;
      width: 100%;
      top: 0;
      left: 0;
    }
    #splash-1 {
      position: absolute;
      z-index: -1;
      width: 100%;
      left: -25%;
      top: 0;
    }
    #splash-2 {
      position: absolute;
      z-index: -2;
      top: 60%;
      left: 20%;
    }
  }
}

.icon_box {
  text-align: center;
  .icon_items {
    margin: 50px 0;
    @media screen and (max-width: 991px) {
      margin: 0;
    }
    i {
      font-size: 40px;
      line-height: 80px;
      color: $main-green;

    }
    h3 {
      margin-top: 15px;
      font-size: 18px;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase;
    }
    .line {
      margin: 0 auto;
      margin-top: 15px;
      width: 40px;
      height: 5px;
      color: $main-green;
      border-bottom: 1px solid;
    }
    p {
      margin-top: 10px;
      color: $middle-grey;
      font-size: 15px;
      line-height: 27px;
      font-family: inherit;
      font-weight: normal;
    }
    &:hover {
      i {
        color: #fb4682;
        transition: all 0.3s ease-in-out;
      }
      .line {
        border-color: #fb4682;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.counters_box {
  position: relative;
  overflow: hidden;
  //padding: 170px 0;
  width: 100%;
  .parallax_img {
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 500px;
    background-image: url("../img/parallax-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 5;
  }
  .cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(10, 10, 10, 0.6);
  }
  .counters-center {
    position: relative;
    text-align: center;
    padding: 220px 0;
    z-index: 12;
    @media screen and (max-width: 991px) {
      padding: 70px 0;

      .counter_block {
        padding-bottom: 50px;
      }
    }
    .counter_block {

      i {
        font-size: 44px;
        color: #fff;
        padding-bottom: 10px;
      }
      .counter {
        font-size: 84px;
        font-weight: 300;
        line-height: 70px;
        color: #fff;
      }
      .counter_name {
        color: #fff;
        font-size: 24px;
        font-weight: 100;
        text-transform: capitalize;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          border-left: 1px solid #ffffff;
          transform: rotate(21deg);
        }
        &.last {
          &:after {
            display: none;
          }
        }
      }
      @media screen and (max-width: 991px) {
        .counter_name {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.blog_box {
  padding-top: 50px;
  .blog_header {
    .years, .splash {
      //position: relative;
      float: right;
      display: inline-block;
      color: $main-grey;
      font-weight: 700;
      font-size: 54px;
      line-height: 0.68;
      padding-top: 90px;
    }
  }
  .blog_content {
    margin-top: 50px;
    .row {
      margin-bottom: 80px;
    }
    .blog_item {
      position: relative;
      .date_box {
        position: absolute;
        top: -45px;
        left: calc(50% - 45px);
        width: 90px;
        height: 90px;
        padding: 10px;
        z-index: 10;
        &.round {
          border-radius: 50%;
          background-color: #fb4682;
        }
        .date_month {
          text-align: center;
          color: #ffffff;
          padding: 9px;
          span {
            font-size: 37px;
            line-height: 30px;
          }
          p {
            font-size: 22px;
            line-height: 20px;
            margin: 0;
          }
        }
      }
      .blog_media {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        #splash-4 {
          position: absolute;
          top: -35px;
          left: -75px;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        .blog_picture {
          .link_bg {
            img {
              position: relative;
              width: 100%;
              height: 100%;
            }
          }
        }
        .blog_video {
          //position: relative;
          //width: 100%;
          //height: 100%;
          iframe {
            //position: absolute;
            //top: 0;
            //left: 0;
            width: 100%;
            height: 100%;
            min-height: 330px;
            border: none;
          }
        }
        audio {
          position: absolute;
          display: block;
          bottom: 0;
          z-index: 10;
          width: 100%;
        }
      }
      .item_title {
        position: relative;
        padding-top: 45px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
      }
      .item_content {
        font-size: 15px;
        font-weight: 300;
        line-height: 27px;
        color: $middle-grey;
      }
      .item_footer {
        position: relative;
        margin-top: 10px;
        border-top: 1px solid #e5e5e5;
        text-transform: capitalize;
        span {
          margin-right: 15px;
          float: left;
          font-size: 12px;
          line-height: 40px;
          i {
            color: $main-green;
          }
        }
        a {
          float: right;
          font-size: 14px;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
          color: $main-green;
          line-height: 40px;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #fb4682;
          }
        }
      }
    }
  }
}